.contactus {
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 1300px) {
    padding: 20px 100px;
  }
  @media (max-width: 1200px) {
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 768px) {
    padding: 20px 30px;
  }
  .formbody {
    width: 829px;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 38px 150px;
    @media (max-width: 992px) {
      padding: 38px 80px;
      width: 100%;
    }
    @media (max-width: 768px) {
      padding: 38px 80px;
    }
    @media (max-width: 576px) {
      padding: 38px 40px;
      max-width: 100%;
    }
    @media (max-width: 450px) {
      padding: 38px 20px;
      max-width: 100%;
    }
    h2 {
      color: rgba(244, 224, 150, 1);
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p,
    label {
      padding-top: 10px;
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        color: #f4e096;
        cursor: pointer;
      }
    }
    .form-controls {
      position: relative;
      padding: 0px 10px;
      margin-top: 10px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 10px;
      padding: 1.5px;
      background: linear-gradient(
        rgba(244, 224, 150, 1),
        rgba(81, 82, 81, 0.2),
        rgba(244, 224, 150, 1)
      );
      @media (max-width: 768px) {
        width: 100%;
      }
      input,
      textarea {
        border-radius: 8px;
        padding: 0px 10px;
        color: rgba(255, 255, 255);
        background: rgba(40, 44, 60, 1);
        width: 100%;
        height: 100%;
        &::placeholder {
          color: rgba(255, 255, 255, 0.32);
        }
      }

      .PhoneInput {
        color: rgba(255, 255, 255);
        background: rgba(40, 44, 60, 1);
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        border-radius: 10px;
        input {
          border: none;
          padding: 0;
          width: 100%;
          height: 100%;
          &::placeholder {
            color: rgba(255, 255, 255, 0.32);
          }
        }
      }
      .eyebtn {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .form-controlstext {
      height: 200px;
    }
    .signupbtn {
      border-radius: 10px;
      border: 2px solid #f4e096;
      background-color: transparent;
      padding: 16px 0px;
      width: 100%;
      color: #f4e096;
      font-size: 16px;
    }
    .PhoneInput {
      height: 100%;
    }
    .PhoneInputCountrySelect {
      background-color: #090e27;
    }
  }
  .loginbtn {
    border-radius: 10px;
    border: 2px solid #f4e096;
    background-color: transparent;
    padding: 16px 0px;
    width: 100%;
    color: #f4e096;
    font-size: 16px;
  }

  .lock {
    position: absolute;
    top: -40px;
    right: -40px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .right2 {
    top: 0%;
    position: absolute;
    right: 0;
    margin: auto;
    z-index: 1;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .right {
    position: absolute;
    top: 10%;
    right: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

input:focus {
  outline: none;
  border: none;
}
