.newsdatacont {
  .viewall {
    margin: 40px 0px;
    padding: 7px 100px;
    border-radius: 25px;
    border: 2px solid #f4e096;
    background: transparent;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: #f4e096;
      color: black;
    }
  }
  .maincont {
    margin-top: 60px;
    padding: 0px 10px;
    @media (max-width: 1200px) {
      padding: 0 20px;
    }
    @media (max-width: 992px) {
      padding: 0 10px;
    }
    .uppercont {
      border-radius: 16px;
      background: linear-gradient(to top, #5f626c, #000000, #596060);
      box-shadow: 0px 3.76px 3.76px 0px rgba(0, 0, 0, 0.25);
      padding: 2px;
      .cont {
        position: relative;
        height: 600px;
        padding: 30px;
        border-radius: 14px;
        background-color: #000000;
        @media (max-width: 992px) {
          padding: 15px;
          height: 100%;
        }

        img {
          height: 270px;
          width: 100%;
          object-fit: cover;
          @media (max-width: 1200px) {
            height: 240px;
          }
          @media (max-width: 992px) {
            height: 200px;
          }
        }
        h3 {
          margin: 16px 0px;
          color: white;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @media (max-width: 1200px) {
            font-size: 22px;
          }
        }
        p {
          margin-top: 16px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 142%; /* 22.72px */
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        h4 {
          line-height: 1.6;
          color: white;
          padding-left: 12px;
          font-size: 18px;
          @media (max-width: 1200px) {
            font-size: 14px;
          }
          span {
            color: #f4e096;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }
        h5 {
          line-height: 1.6;
          font-size: 18px;
          color: #f4e096;
          @media (max-width: 1200px) {
            font-size: 12px;
          }
        }
        .btnrep {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          padding: 6.58px 26.1px;
          @media (max-width: 992px) {
            position: relative;
            bottom: 0;
            padding: 6.58px 0.1px;
          }
        }
        button {
          width: 100%;
          height: 39px;
          padding: 6.58px 14.1px;
          border-radius: 4.7px;
          border: 1px solid #f4e096;
          background: none;
          color: #f4e096;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-top: 30px;
          text-transform: capitalize;
          &:hover {
            background-color: #f4e096;
            color: black;
          }
        }
      }
    }
  }
}

.newsdatacontHome {
  padding: 0px 70px;
}
