.statistics {
  position: relative;
  z-index: 99;
  margin-top: -150px;
  overflow-x: hidden;
  color: white;
  @media (max-width: 1050px) {
    margin-top: -100px;
  }
  @media (max-width: 992px) {
    margin-top: 0px;
  }
  .contsection {
    padding: 0px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 1200px) {
      padding: 0px 60px;
    }
    @media (max-width: 992px) {
      padding: 0px 30px;
    }
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px 30px;
    }
    @media (max-width: 576px) {
      justify-content: space-between;
      padding: 0px 30px;
    }
    @media (max-width: 410px) {
      align-items: start;
      padding: 0px 15px;
      flex-direction: column;
    }

    .cont {
      padding: 0px 30px;
      @media (max-width: 992px) {
        padding: 0px 15px;
      }
      @media (max-width: 768px) {
        padding: 0px 30px;
      }
      @media (max-width: 576px) {
        padding: 30px 30px;
      }
      @media (max-width: 470px) {
        padding: 30px 15px;
      }
    }
    .contsp {
      margin-bottom: 0.2rem;
      @media (max-width: 992px) {
        font-size: 12px;
      }
      @media (max-width: 576px) {
        font-size: 12px;
      }
    }
    h3 {
      padding-right: 16px;
      font-family: "Space Grotesk";
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: linear-gradient(180deg, #f4e096 0%, #00e7cb 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 992px) {
        font-size: 30px;
        padding-right: 10px;
      }
      @media (max-width: 576px) {
        font-size: 26px;
        padding-right: 10px;
      }
    }
  }
}
