.tooglebtn1 {
  z-index: 99;
  position: absolute;
  left: 23px;
  top: 23px;
  background-color: none;
  border: 0;
  background: none;
  color: #f4e096;
  @media (max-width: 576px) {
    top: 26px;
  }
}
.tooglebtnx {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 99;
  background-color: none;
  border: 0;
  background: none;
  color: white;
  @media (max-width: 576px) {
    top: 26px;
  }
}
.sidenav {
  z-index: 999;
  height: 100vh;
  overflow-y: scroll;
  padding: 14px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: #888;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(244, 224, 150, 1);
  }
  .mgside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    height: 100%;
    width: 250px;
    position: absolute;
    box-shadow: 8px 0 10px rgba(0, 0, 0, 0.1);
  }
  ul {
    padding: 0rem 0.5rem;
    @media (max-width: 1200px) {
      margin-top: 1rem;
    }
    @media (max-width: 1100px) {
      padding-left: 0rem;
    }
    li {
      font-size: 14px;
      color: white;
      cursor: pointer;
      font-weight: 600;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      padding: 9px 10px;
      @media (max-width: 1100px) {
        font-size: 16px;
      }
      .iconcont {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        background-color: rgba(70, 75, 95, 0.7);
        svg {
          height: 24px;
          width: 24px;
        }
      }
    }
    .active {
      color: rgba(244, 224, 150, 1);
      border-radius: 6px;
      background: rgba(16, 21, 41, 1);
    }
    .line {
      padding: 0px 0px;
      width: 100%;
      height: 2px;
      background: #e3e3e3;
      margin: 35px 0px;
    }
  }
}

.dropdownMenuCustom {
  background-color: transparent;

  .buttonInside {
    transition: unset !important;
    position: relative;

    .iconInside {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      transition: all 0.3s linear;
    }
  }

  &.opened {
    .buttonInside {
      background-color: rgb(16, 21, 41);
      color: rgb(244, 224, 150);
      border-radius: 6px;
    }

    .iconInside {
      transform: translateY(-50%) rotate(-180deg);
    }

    .collapsedContainer {
      max-height: 100vh;
      opacity: 1;
    }
  }

  .collapsedContainer {
    max-height: 0;
    opacity: 0.5;
    overflow-y: hidden;
    transition:
      max-height 0.3s linear,
      opacity 0.5s linear;
  }
}
