.adminheader {
  height: 72px;
  position: fixed;
  width: calc(100% - 250px) !important;
  right: 10px;
  border: none;
  height: 86px;
  background-color: #161a2c;
  padding: 20px 30px;
  border-radius: 8px;
  z-index: 9;
  @media (max-width: 1200px) {
    left: 0px;
    right: 0px;
    width: 100% !important;
  }
  .iconcont {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    background-color: rgba(70, 75, 95, 0.7);
    svg {
      color: rgba(244, 224, 150, 1);
      height: 24px;
      width: 24px;
    }
  }

  .address {
    margin: 0px 16px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(208, 206, 206);
    width: fit-content;
    button {
      font-weight: 600;
      padding: 5px 10px;
      background-color: #2752e7;
      color: white;
    }
  }
  p {
    color: #626262;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }
  h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
  }
  h3 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
  .search {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    display: flex;
    width: 240px;
    padding: 6px 0px 6px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid var(--Base-40, #cacaca);
  }
  .connect {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid var(--g2, #02ffb3);
    background-color: rgba(70, 75, 95, 0.7);
  }
  .connectwbtn {
    @media (max-width: 1200px) {
      // margin-right: 40px;
      margin-left: 16px;
    }
    @media (max-width: 576px) {
      // margin-right: 30px;
      margin-left: 5px;
      i {
        display: none;
      }
    }
  }
}
