.SelectTimeframe {
    border-bottom: 1px solid #494949;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;

    .logo {
        padding: 6px;
        border-right: 1px solid #494949;
        font-size: 12px;
        display: none;

        @media screen and (min-width: 600px) {
            display: block;
            padding: 12px;
            font-size: 14px;
        }
    }

    .items {
        padding: 6px;
        display: flex;
        gap: 6px;

        @media screen and (min-width: 600px) {
            padding: 12px;
            gap: 12px;
        }

        .item {
            padding: 0 8px;
            transition: all 0.3s ease-out;
            cursor: pointer;
            border-radius: 4px;
            font-size: 12px;

            &:not(.selected):hover {
                color: #000;
                background-color: rgb(244, 224, 150);
            }

            &.selected {
                color: #000;
                background-color: rgb(244, 224, 150);
            }

            @media screen and (min-width: 600px) {
                font-size: 14px;
            }
        }
    }
}
