.partner {
  overflow: hidden;
  padding: 60px 0px;
  .headingcont {
    h2::after {
      content: "Partners" !important;
    }
  }
  .maincont {
    z-index: 2;
    width: 102%;
    transform: rotate(2deg);
    margin-top: 60px;
    height: 140px;
    padding: 0px 160px;
    background: linear-gradient(203deg, #f4e096 19.75%, #00e7cb 217.05%);
    box-shadow: 0px 0px 250px 225px rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 1300px) {
      padding: 0px 60px;
    }
    @media (max-width: 992px) {
      padding: 0px 30px;
      img {
        margin: 0px 15px;
      }
      flex-wrap: wrap;
      height: 220px;
    }
    @media (max-width: 768px) {
      padding: 0px 10px;
      img {
        margin: 0px 5px;
      }
      flex-wrap: wrap;
    }
    @media (max-width: 576px) {
      height: 300px;
      padding: 0px 10px;
      img {
        margin: 0px 5px;
      }
      flex-wrap: wrap;
    }
  }
  .showdowcont {
    transform: rotate(-2deg);
    z-index: -1;
    inset: 0;
    margin: auto;
    width: 102%;
    position: absolute;
    height: 140px;
    background: linear-gradient(203deg, #f4e096 19.75%, #00e7cb 217.05%);
    box-shadow: 0px 0px 250px 225px rgba(0, 0, 0, 0.32);
    @media (max-width: 992px) {
      height: 220px;
    }
    @media (max-width: 576px) {
      height: 300px;
    }
  }
}
