.OrderTools {
    background-color: #161a2c;
    border-radius: 12px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 32px;

    .desktop {
        display: none;
        gap: 8px;

        @media screen and (min-width: 600px) {
            display: flex;
        }
    }

    .mobile {
        display: flex;
        gap: 24px;
        padding: 16px;

        @media screen and (min-width: 600px) {
            display: none;
        }
    }
}

.toolContainer {
    width: 100%;

    @media screen and (min-width: 600px) {
        padding: 16px;
    }

    .formControls {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .formItem {
            display: flex;
            align-items: center;
            border: 1px solid #5a5a5a;
            padding: 4px 8px;
            border-radius: 4px;
            transition: border-color 0.3s ease-out;

            &.disabled {
                border-color: transparent;
                background-color: #474d57;
            }

            &.focused {
                border-color: #f4e096;
            }

            &:not(.disabled):hover {
                border-color: #f4e096;
            }

            .label {
                padding-right: 12px;

                &.needBorder {
                    border-right: 1px solid #5a5a5a;
                }
            }

            .inputInside {
                flex: 1;
                border: 0;
                outline: none;
                box-shadow: unset;

                input {
                    border: 0;
                    outline: none;
                    text-align: right;
                }

                @media screen and (-webkit-min-device-pixel-ratio: 0) {
                    input {
                        font-size: 16px;
                    }
                }
            }
        }

        .totalTransaction {
            font-size: 14px;
            display: flex;
            gap: 12px;

            .label {
                color: #979797;
            }
        }
    }
}

.btnTransaction {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-weight: 500;
    user-select: none;

    &.disabled {
        background-color: #33353a;
        cursor: default;
    }

    &:not(.disabled).buy {
        background-color: #2ebd85;

        &:hover {
            background-color: #32d993;
        }
    }

    &:not(.disabled).sell {
        background-color: #f6465d;

        &:hover {
            background-color: #ff707e;
        }
    }
}
