.aboutus {
  padding: 0px 60px;
  @media (max-width: 576px) {
    padding: 0px 30px;
  }

  p {
    width: 823px;
    color: #fff;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
