// .tabContainer {
//     @apply select-none;

//     .ant-tabs-tab-btn {
//         @apply font-size-[16/20];
//         @apply font-sourcesanspro;
//     }

//     .ant-tabs-nav {
//         &::before {
//             @apply border-b-[#ffffff50];
//         }
//     }
// }
