.chooseTagTokenContainer {
    display: flex;
    gap: 16px;

    .tagItem {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        padding: 4px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        color: #000;
        background-color: #dadbdd;

        &.isSelected {
            color: #fff;
            background-color: #1e2329;

            &:hover {
                background-color: #2b3139;
            }
        }
    }
}
