.faq {
  position: relative;

  .breakpoint {
    width: 100%;
    position: absolute;
    top: -80px;
    z-index: -1;
    height: 140px;
    width: 100%;
    background: #02001c;
    filter: blur(45px);
  }
  video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    @media (max-width: 1400px) {
      height: 120vh;
    }
    @media (max-width: 992px) {
      height: 100vh;
    }
    @media (max-width: 768px) {
      height: fit-content;
      display: none;
    }
  }

  .contentsbody {
    height: 100%;
    inset: 0;
    margin: auto;
    // position: absolute;
    width: 100%;
    padding: 0px 100px 100px 100px;
    @media (max-width: 992px) {
      padding: 0px 50px 50px 50px;
    }
    @media (max-width: 768px) {
      position: relative;
      padding: 0px 30px 50px 30px;
    }

    .heading {
      margin-bottom: 100px;
      @media (max-width: 992px) {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      h2 {
        color: transparent; /* Hide the text */
        text-align: center;
        font-family: Inter;
        font-size: 100px;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 10px;
        text-transform: uppercase;
        background-image: url("../../assets/images/faq/textbg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        @media (max-width: 992px) {
          font-size: 70px;
        }
        @media (max-width: 768px) {
          font-size: 50px;
        }
      }
    }
    .faqcontent {
      border-top: 1px solid white;
      .contbody {
        border-bottom: 1px solid white;
        padding: 40px 60px;
        @media (max-width: 768px) {
          padding: 20px 30px;
        }
        @media (max-width: 576px) {
          padding: 20px 5px;
        }
        .arrow-img {
          transform: rotate(-90deg);
          @media (max-width: 576px) {
            width: 25px;
            height: 25px;
          }
        }
        .arrow-img-open {
          transform: rotate(90deg);
        }
        p {
          color: #fff;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
        .answer {
          font-size: 18px;
          font-weight: 400;
        }
        color: white;
      }
    }
  }
}
