.dashboard {
  padding: 10px;
  overflow-x: hidden;
  color: white;
  @media (max-width: 1200px) {
    height: 100%;
  }
  @media (max-width: 576px) {
    padding: 0px;
  }
  .dashead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 576px) {
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    h3 {
      @media (max-width: 576px) {
        margin-top: 20px;
      }
    }
  }

  .btn3 {
    white-space: nowrap;
    margin: 0px 8px;
    border: 2px solid rgba(244, 224, 150, 1);
    width: 100%;
    background-color: #060d21;
    color: white;
    padding: 7px 30px;
    border-radius: 7px;
    margin-bottom: 0;
    @media (max-width: 400px) {
      padding: 7px 10px;
    }
  }

  .address {
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    // border: 1px solid black;
    box-shadow: 0px 0px 20px rgb(208, 206, 206);
    width: fit-content;
    button {
      font-weight: 600;
      padding: 8px 20px;
      background-color: #2752e7;
      color: white;
    }
  }
  .dashbody {
    padding: 15px;
    width: 100%;
    height: 100%;
    h2 {
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      span {
        color: #2752e7;
      }
    }
  }

  .table-cont {
    border-radius: 10px;
    background-color: rgba(16, 21, 41, 1);
    min-height: 50vh;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 2px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(183, 177, 177);
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #615f5f;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      tr:nth-child(even) {
        // background-color: #f6f6f6 !important;
      }
    }

    th {
      border-bottom: 1px solid #dddddd;
      white-space: break-word;
      text-align: left;
      padding: 8px;
      white-space: nowrap;
    }
    td {
      overflow: hidden;
      width: 100px;
      margin: 5px 0px;
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  }
}

.btn3-sds1 {
  border: 1px solid #414144;
  outline: none;
  background-color: #313235;
  padding: 6px 13px;
  border-radius: 6px;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;

  @media screen and (max-width: 576px) {
    padding: 6px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  &:hover {
    background-color: #414144;
  }
}

.connectwbtn {
  * {
    font-family: "Space Grotesk" !important;
  }
}
