.WithdrawHewePage {
    .ant-tabs-tab {
        font-size: 14px;
        padding: 12px 6px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            padding: 12px 16px;
        }
    }

    .ant-tabs-tab-active {
        // padding: 12px 24px;
    }
}
