.infoIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1e2329;
    color: #fff;
    font-size: 8px;
}
