.news {
  padding-top: 140px;
  .headingcont {
    h2::after {
      content: "Updates From the Hewe" !important;
    }
  }
  padding: 140px 120px 0px 120px;
  @media (max-width: 1300px) {
    padding: 140px 60px 0px 60px;
  }
  @media (max-width: 992px) {
    padding: 140px 30px 0px 30px;
  }
}
