.loginforms {
  background-image: url("../../assets/images/login/loginbg.png");
  background-size: cover;
  background-position: top;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1600px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1200px) {
    align-items: center;
    justify-content: center;
  }

  .formbody {
    padding: 20px 154px;
    margin-top: 150px;
    width: 829px;
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1300px) {
      padding: 20px 100px;
    }
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      padding: 20px 80px;
      width: 100%;
    }
    @media (max-width: 576px) {
      padding: 20px 40px;
      max-width: 100%;
    }
    form {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    h2 {
      color: rgba(244, 224, 150, 1);
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    p,
    label {
      padding-top: 10px;
      color: #c0c0c0;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        cursor: pointer;
        color: rgba(244, 224, 150, 1);
      }
    }
    .form-controls {
      position: relative;
      margin-top: 10px;
      width: 506px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 10px;
      padding: 1.5px;
      background: linear-gradient(
        rgba(244, 224, 150, 1),
        rgba(81, 82, 81, 0.2),
        rgba(244, 224, 150, 1)
      );
      box-shadow: -2px 2px 10.9px 0px rgba(0, 0, 0, 0.16) inset;
      @media (max-width: 768px) {
        width: 100%;
      }
      input {
        border-radius: 8px;
        padding: 0px 10px;
        color: rgba(255, 255, 255);
        background: rgba(40, 44, 60, 1);
        width: 100%;
        height: 100%;
        &::placeholder {
          color: rgba(255, 255, 255, 0.32);
        }
      }
      .eyebtn {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .loginbtn {
      border-radius: 10px;
      border: 2px solid #f4e096;
      background-color: transparent;
      padding: 16px 0px;
      width: 100%;
      color: #f4e096;
      font-size: 16px;
    }
  }

  .sideleft {
    position: absolute;
    left: -120px;
    bottom: 350px;
    z-index: 99;
    @media (max-width: 992px) {
      height: 300px;
      left: -60px;
    }
    @media (max-width: 768px) {
      height: 300px;
    }
  }

  .side1 {
    position: absolute;
    right: 0;
    top: 80px;
    @media (max-width: 992px) {
      height: 300px;
      right: -80px;
    }
    @media (max-width: 576px) {
      height: 200px;
      right: -80px;
    }
  }

  .checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .checkbox__input {
    position: absolute;
    width: 1.375em;
    height: 1.375em;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox__input:checked + .checkbox__icon .tick {
    stroke-dashoffset: 0;
  }

  .checkbox__icon {
    width: 1.375em;
    height: 1.375em;
    flex-shrink: 0;
    overflow: visible;
  }

  .checkbox__icon .tick {
    stroke-dasharray: 20px;
    filter: blur(0px) !important;
    stroke-dashoffset: 20px;
    transition: stroke-dashoffset 0.2s ease-out;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

input:focus {
  outline: none;
  border: none;
}
