.historyBuyTokenContainer {
    margin-top: 50px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        .selectTokens {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: 12px;
        }
    }

    .rate {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}
