.withdrawContentContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  // max-width: 600px;
  label {
    color: white;
  }
  input {
    background-color: none;
    background: none;
    // border: 1px solid white !important;
    background-color: rgba(40, 44, 60, 1);
    padding: 5px 15px;
  }

  .formTransaction {
    color: white;
    background-color: rgba(54, 58, 78, 1);
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 16px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    @media screen and (min-width: 768px) {
      padding: 32px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .formItem {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 500;
    }
  }

  .available {
    font-weight: 500;
    display: flex;
    justify-content: space-between;

    .digit {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  .description {
    font-size: 13px;
    font-weight: 500;

    .note {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      &:nth-child(2) {
        margin-top: 12px;
      }
    }
  }
  .InputPrice {
    border: 1px solid rgba(244, 224, 150, 1);
  }

  .listHistoryWithdrawContainer {
    margin: 32px 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
