.adminheader {
  height: 86px;
  border: 2px solid #e3e3e3;
  background-color: white;
  padding: 20px 30px;
  .address {
    margin: 0px 16px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(208, 206, 206);
    width: fit-content;
    button {
      font-weight: 600;
      padding: 5px 10px;
      background-color: #2752e7;
      color: white;
    }
  }
  .lines {
    margin: 0px 30px;
    width: 2px;
    height: 46px;
    background-color: #d0d0d0;
  }
  p {
    color: #626262;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }
  h2 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
  }
  h3 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
  }
  .search {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    display: flex;
    width: 240px;
    padding: 6px 0px 6px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid var(--Base-40, #cacaca);
  }
  .connect {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid var(--g2, #02ffb3);
    background: #060d21;
  }
}
