@import "./assets/scss/base.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}
p {
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.prcolor {
  color: $primary-color;
}
.bg1 {
  background-color: $bg1;
}
.tablebg {
  background-color: $tablebg;
}
body {
  background-color: rgba(2, 7, 27, 1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

// Sweet Alert

.btn-swal-antd {
  border: none;
  outline: none;
  border-radius: 5px;

  padding: 6px 25px;

  background-color: $primary-color;
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: $primary-color-light;
  }
}

.content-swal-antd {
  color: black;
  font-size: 1rem;
}

.title-swal-antd {
  font-size: 1.5rem;
}

.no-border {
  border: 0 !important;
}

// Toast

.swal2-popup.swal2-toast {
  padding: 10px 15px;

  .swal2-title {
    font-size: 14px;
    margin: 7px;
    font-weight: 500;
  }

  .no-border {
    border: 0 !important;
  }
}

.errormessage {
  color: red;
  font-size: 12px;
}

.overlay {
  z-index: 99999;
  background-color: #000000;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

@keyframes pulse00 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    background: #252525;
  }

  50% {
    background: #000000;
  }

  100% {
    background: #353535;
  }
}

#mmConnect {
  background-color: rgba(70, 75, 95, 0.7);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  color: rgba(244, 224, 150, 1);
  font-size: 18px;
  font-weight: 400;
  .fa-wallet {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(244, 224, 150, 1);
  }
  @media (max-width: 576px) {
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 14px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  font-family: inherit;
}

.headingcont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    -webkit-text-stroke: 2px rgba(37, 40, 53, 1);
    color: rgba(2, 7, 27, 1);
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 10px;
    line-height: 102px;
  }
  h2::after {
    white-space: wrap;
    position: absolute;
    content: "about us";
    position: absolute;
    inset: 0;
    margin: auto;
    color: #f4e096;
    text-align: center;
    text-shadow: 0px 100px 80px rgba(244, 224, 150, 0.1), 0px 41.778px 33.422px rgba(244, 224, 150, 0.2),
      0px 22.336px 17.869px rgba(244, 224, 150, 0.2), 0px 12.522px 10.017px rgba(244, 224, 150, 0.04),
      0px 6.65px 5.32px rgba(244, 224, 150, 0.03), 0px 2.767px 2.214px rgba(244, 224, 150, 0.01);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.custom-btn {
  button {
    border-radius: 100px;
    background: none;
    color: #f4e096;
    display: flex;
    width: 162px;
    height: 52px;
    padding: 17px 14px;
    font-family: "Space Grotesk", sans-serif;
    justify-content: center;
    align-items: center;
    gap: 9.4px;
    flex-shrink: 0;
    border: 2px solid #f4e096;
    color: #f4e096;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.bg-none {
  background: none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-table-wrapper {
  background-color: $tablebg !important;
  color: white;
}
.tableContainer .ant-table-thead .ant-table-cell {
  background: none !important;
  color: white !important;
}
.ant-empty-description {
  color: white !important;
}
.ant-table-placeholder:hover {
  background: none !important;
  background-color: none !important;
}

button,
a,
.headerbtn {
  cursor: pointer;
  white-space: nowrap;
}

.icontokenimg {
  display: flex;
  align-items: center;

  img {
    height: 28px !important;
    width: 28px !important;
    @media (max-width: 576px) {
      height: 16px !important;
      width: 16px !important;
    }
  }
}

input[placeholder],
[placeholder],
*[placeholder] {
  color: rgb(255, 255, 255) !important;
}

.crp {
  cursor: pointer;
}

.customTableAntd.ant-table-wrapper {
  background-color: transparent !important;

  .ant-table-cell {
    background: #101529 !important;
    color: white;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
