.BuyTokenV2J24 {
  margin-top: 80px;
  padding: 20px;

  .input-com2-wrap {
    max-width: 450px;
    margin: 0 auto;
  }

  .input-com2 {
    display: flex;
    flex-direction: column;

    .token-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      .l {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;

        span {
          font-weight: 500;
          font-size: 14px;
        }
      }

      .r {
        span:first-child {
          font-size: 14px;
        }

        span:last-child {
          font-size: 15px;
          font-weight: 600;
        }
      }
    }

    .ant-input-number {
      input {
        height: 48px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .summary {
    margin-block: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    .summary-item {
      display: flex;
      justify-content: space-between;

      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 17px;
      }
    }
  }
}

.modal-confirm-buy-token-V2J24 {
  .summary {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    .summary-item {
      display: flex;
      justify-content: space-between;

      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
      }
    }
  }
}

.HistoryBuyTokenV2J24 {
  margin-top: 50px;

  h4 {
    font-weight: 600;
    font-size: 20px;
  }
}
