.team {
  padding: 160px 120px 30px 120px;
  @media (max-width: 1200px) {
    padding: 160px 30px 30px 30px;
  }
  @media (max-width: 768px) {
    padding: 160px 60px 30px 60px;
  }
  .membercont {
    position: relative;
    padding: 30px;
    object-fit: cover;
    margin-top: 30px;
    .memberteam {
      border: 10px solid white;
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 18px;
          font-weight: 700;

          @media (max-width: 992px) {
            font-size: 16px;
            font-weight: 500;
          }
        }
        height: 90px;
        margin-top: -30px;
        text-align: center;
        background-color: white;
        color: black;
        p {
          font-weight: 600;
          margin-bottom: 0;
          color: rgba(0, 0, 0, 0.762);
          @media (max-width: 992px) {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
      img {
        margin-top: -60px;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        object-fit: cover;
      }
    }
  }
}
