.iconTokenContainer {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
