.Tokenomics {
  position: relative;
  padding: 0px 0px 60px 0px;

  h2::after {
    position: absolute;
    content: "Tokenomics";
  }
  img {
    object-fit: cover;
    padding: 0px 00px;
    margin-top: 40px;
    mix-blend-mode: normal;
    object-position: -50px;
    @media (max-width: 992px) {
      object-position: -30px;
    }
    @media (max-width: 576px) {
      object-position: -10px;
    }
  }
}
.tmt-10 {
  margin-top: 120px;
}
