.verifyemailscont {
  overflow-x: hidden;
  .verifyemails {
    background-image: url("../../assets/images/login/loginbg.png");
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    padding: 20px 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1300px) {
      padding: 20px 100px;
    }
    @media (max-width: 1200px) {
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 768px) {
      padding: 20px 30px;
    }

    .formbody {
      padding: 20px 154px;
      width: 829px;
      z-index: 9;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      @media (max-width: 1300px) {
        padding: 20px 100px;
      }
      @media (max-width: 992px) {
        width: 100%;
      }
      @media (max-width: 768px) {
        padding: 20px 80px;
        width: 100%;
      }
      @media (max-width: 576px) {
        padding: 20px 20px;
        max-width: 100%;
      }
      form {
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      h2 {
        color: rgba(244, 224, 150, 1);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      p,
      label {
        padding-top: 10px;
        color: #c0c0c0;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        span {
          color: rgba(244, 224, 150, 1);
        }
      }
      .form-controls {
        position: relative;
        margin-top: 10px;
        width: 506px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 10px;
        padding: 1.5px;
        background: linear-gradient(
          rgba(244, 224, 150, 1),
          rgba(81, 82, 81, 0.2),
          rgba(244, 224, 150, 1)
        );
        box-shadow: -2px 2px 10.9px 0px rgba(0, 0, 0, 0.16) inset;
        @media (max-width: 768px) {
          width: 100%;
        }
        input {
          border-radius: 8px;
          padding: 0px 10px;
          color: rgba(255, 255, 255);
          background: rgba(40, 44, 60, 1);
          width: 100%;
          height: 100%;
          &::placeholder {
            color: rgba(255, 255, 255, 0.32);
          }
        }
      }
      .loginbtn {
        border-radius: 10px;
        border: 2px solid #f4e096;
        background-color: transparent;
        padding: 16px 0px;
        width: 100%;
        color: #f4e096;
        font-size: 16px;
      }
    }
  }
  .sideleft {
    position: absolute;
    left: -120px;
    z-index: 99;
    bottom: 500px;
    @media (max-width: 992px) {
      height: 300px;
      left: -60px;
    }
    @media (max-width: 768px) {
      height: 300px;
    }
  }

  .side1 {
    position: absolute;
    right: 0;
    top: 80px;
    @media (max-width: 992px) {
      height: 300px;
      right: -80px;
    }
    @media (max-width: 576px) {
      height: 200px;
      right: -80px;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

input:focus {
  outline: none;
  border: none;
}
