.newSwap {
    z-index: 99;
    margin-top: 50px;
    position: relative;
    padding: 0px 250px;

    @media (max-width: 1500px) {
        padding: 0px 200px;
    }

    @media (max-width: 1350px) {
        padding: 0px 120px;
    }

    @media (max-width: 1200px) {
        padding: 0px 60px;
    }

    @media (max-width: 768px) {
        padding: 0px 30px;
    }

    .newSwap_bodyupper {
        width: 100%;
        border-radius: 30px;
        padding: 2px;
        background: linear-gradient(70deg,
                rgba(244, 224, 150, 1),
                rgba(2, 7, 27, 0.2),
                rgba(244, 224, 150, 0.97));

        .start_buying_bodyinner {
            background: #060d21;
            border-radius: 28px;

            .start_buying_body {
                border-radius: 27px;
                padding: 70px;
                width: 100%;
                color: white;
                backdrop-filter: blur(15px);

                @media (max-width: 1400px) {
                    padding: 35px;
                }

                @media (max-width: 1200px) {
                    padding: 35px;
                }

                @media (max-width: 992px) {
                    display: block;
                }

                @media (max-width: 768px) {
                    padding: 20px;
                }

                h2 {
                    text-shadow: 0px 100px 80px rgba(244, 224, 150, 0.1),
                        0px 41.778px 33.422px rgba(244, 224, 150, 0.2),
                        0px 22.336px 17.869px rgba(244, 224, 150, 0.2),
                        0px 12.522px 10.017px rgba(244, 224, 150, 0.04),
                        0px 6.65px 5.32px rgba(244, 224, 150, 0.03),
                        0px 2.767px 2.214px rgba(244, 224, 150, 0.01);
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.72px;
                    text-transform: uppercase;
                    padding-bottom: 40px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.36px;
                }

                .refside {
                    .inputref {
                        margin-bottom: 43px;
                        padding: 0px 30px;
                        display: flex;
                        align-items: center;
                        height: 72px;
                        border-radius: 10px;
                        border-top: 2px solid #f4e096;
                        border-bottom: 2px solid #f4e096;
                        background: rgba(196, 196, 196, 0.1);
                        backdrop-filter: blur(15px);

                        @media (max-width: 576px) {
                            padding: 0px 0px;
                        }

                        input {
                            background: none;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            color: white;
                        }

                        .copy {
                            color: #cacaca;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: normal;
                        }
                    }

                    h3 {
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 50px;
                        letter-spacing: 1.08px;
                        letter-spacing: 1.08px;

                        @media (max-width: 1100px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .input-com2-wrap {
        max-width: 450px;
        margin: 0 auto;
    }

    .input-com2 {
        display: flex;
        flex-direction: column;

        .token-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            .l {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 5px;

                span {
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            .r {
                span:first-child {
                    font-size: 14px;
                }

                span:last-child {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }

        .ant-input-number {
            input {
                height: 48px;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .summary {
        margin-block: 20px;

        display: flex;
        flex-direction: column;
        gap: 12px;

        .summary-item {
            display: flex;
            justify-content: space-between;

            p {
                margin-bottom: 0;
                font-weight: 600;
                font-size: 17px;
            }
        }
    }
}