.btnContainer {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  min-width: 52px;
  word-break: keep-all;
  background-color: rgba(16, 21, 41, 1);
  color: rgb(30, 35, 41);
  border-radius: 4px;
  transition: all 0.15s ease-out;
  font-weight: 600;
  border: 2px solid rgba(244, 224, 150, 1);

  &:hover {
    // background-color: rgb(245, 245, 245);
  }

  &.buy {
    // background-color: rgb(14, 203, 129);
    color: rgb(245, 245, 245);

    &:hover {
      //   background-color: rgb(50, 217, 147);
    }
  }

  &.sell {
    // background-color: rgb(246, 70, 93);
    color: rgb(245, 245, 245);

    &:hover {
      //   background-color: rgb(255, 112, 126);
    }
  }

  &.default {
    // background-color: #1e2329;
    color: rgb(245, 245, 245);

    &:hover {
      background-color: #2b3139;
    }
  }

  &.defaultLoading {
    background-color: #555555;
    color: rgb(245, 245, 245);

    &:hover {
      background-color: #555555;
    }
  }

  &.disabled {
    // background-color: rgb(234, 236, 239);
    color: rgb(183, 189, 198);
    cursor: not-allowed;

    &:hover {
      background-color: rgb(234, 236, 239);
      color: rgb(183, 189, 198);
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid #1e2329 !important;
    color: #1e2329;

    &:hover {
      background-color: #d8d8d8;
    }
  }
}
