.dashboard {
  padding: 10px;
  height: calc(100vh - 86px);
  .address {
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    // border: 1px solid black;
    box-shadow: 0px 0px 20px rgb(208, 206, 206);
    width: fit-content;
    button {
      font-weight: 600;
      padding: 8px 20px;
      background-color: #2752e7;
      color: white;
    }
  }
  .dashbody {
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: white;
    h2 {
      color: #717475;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      span {
        color: #2752e7;
      }
    }
  }
}
